.venv/
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
.env.*
exploration/
environment/task_inputs/*.npz
tests/hidden_data/
artifacts/
*.pt
*.pth
*.ckp
environment/task_inputs/
tests/hidden_data/

# Exploratory data
exploration/

# Python environment
.venv/
__pycache__/t